{% extends 'base.html' %} 
{% load crispy_forms_tags %} 
{% block content %}


<form style="width: 50%; margin: auto" method="post" novalidate>
    <h1 class="text-center">{{type}} page</h1>
    {% csrf_token %}
    <!-- None filed errors code start -->
    {% if form.non_field_errors %}
    {% for er in form.non_field_errors %}
        <p class="bg-danger text-white p-3">{{er}}</p>
    {% endfor %}
    {% endif %}
    <!-- None filed errors code end -->
    <!-- {{form | crispy}} -->
    {% for fm in form%} 
    {{fm.label_tag}} 
    {{fm}} 
    {{fm.errors|striptags}} 
    {% endfor %}
    <br />
    <button class="btn btn-success" type="submit">Submit</button>
    <br />
    {% if user.is_authenticated %}
        <small>Already have an account <a href="{% url 'user_logout' %}">Logout</a></small>
    {% else %}
        <small>Already have an account <a href="{% url 'user_login' %}">Login</a></small>
    {% endif %}
</form>
{% endblock %}